.sub-header-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 3%;
}
.sub-header-master-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

div {
    font-family: 'Source Code Pro', monospace;
    color: #CAD2C5;
}

.welcome {
    font-family: 'Baloo 2', cursive;
    font-size: 20px;
    font-weight: lighter;
    color: #CAD2C5;
}

.registration-input {
    display: flex;
    flex-direction: column;
}

input {
    width: 20%
}

.form-right, .form-left {
    display: block;

}