.user-profile-master-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.user-profile-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 3%;
}

